Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:STREAM_HP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:STREAM_DP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK_DP: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_DP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM_HP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM_DP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK_DP: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_DP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Attempt to not ptimize away write
  b_eff/src/device/communication_ACCL_pl_stream.cpp
Due: build:b_eff, test:b_eff

Modify kernel to read and write over stream
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Fix gmem port names
  b_eff/src/device/communication_ACCL_pl_stream.cpp
Due: build:b_eff, test:b_eff

Set mem bank by group id
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Separate logic into three kernels
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Remove unused interface pragmas
  b_eff/src/device/communication_ACCL_pl_stream.cpp
Due: build:b_eff, test:b_eff

Thread emulation
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Fix protocol for schedule and recv sync
  b_eff/src/device/communication_ACCL_pl_stream.cpp
Due: build:b_eff, test:b_eff

Fix signatures
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq_sendrecv.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Kernel replication for host side
  PTRANS/src/host/CMakeLists.txt
Due: build:PTRANS, test:PTRANS

Use custom ACCL branch
  extern/CMakeLists.txt
Due: none

Fix validation for multiple repetitions
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Add default mem bank option for ACCL
  cmake/accl.cmake
  shared/hpcc_settings.cpp
  shared/include/base_parameters.h.in
  shared/include/hpcc_settings.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Add accl buffer options to parser
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix ACCL buffer size parameters
  shared/hpcc_settings.cpp
  shared/include/base_parameters.h.in
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_accl.hpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Sleep before actual send
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Allow both streaming and buffered
  b_eff/src/device/CMakeLists.txt
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
Due: build:b_eff, test:b_eff

Move barrier behind sleep
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Enable TCP bypassing
  cmake/accl.cmake
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix host linking
  b_eff/src/host/CMakeLists.txt
Due: build:b_eff, test:b_eff

Switch back to ACCL dev
  extern/CMakeLists.txt
Due: none

Add ACCL stream executor and fix accl-stream flag
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl_stream.hpp
  b_eff/src/host/network_benchmark.cpp
Due: build:b_eff, test:b_eff

Fix non-PL stream
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
  b_eff/src/host/execution_types/execution_accl_stream.hpp
Due: build:b_eff, test:b_eff

Change enable data type
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
Due: build:b_eff, test:b_eff

Fix ACCL stream executor
  b_eff/src/host/execution_types/execution_accl_stream.hpp
Due: build:b_eff, test:b_eff

Set correct memory banks
  b_eff/src/host/execution_types/execution_accl_stream.hpp
Due: build:b_eff, test:b_eff

Change call to stream-to-stream
  b_eff/src/host/execution_types/execution_accl_stream.hpp
Due: build:b_eff, test:b_eff

Fix some includes for base build
  shared/include/hpcc_benchmark.hpp
  shared/include/hpcc_settings.hpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Change PL scheduling notification
  b_eff/src/device/communication_ACCL_pl_stream.cpp
  b_eff/src/host/execution_types/execution_accl_pl_stream.hpp
  b_eff/src/host/execution_types/execution_accl_stream.hpp
Due: build:b_eff, test:b_eff

Fix HPL XRT baseline hostcode signature
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, build:LINPACK_DP, test:LINPACK, test:LINPACK_DP

Change path to UDP host API to accl_udp dep
  shared/CMakeLists.txt
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Set default UDP hardware build path to accl_udp dep
  cmake/accl.cmake
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix GEMM template arguments
  GEMM/src/host/execution.h
  GEMM/src/host/execution_default.cpp
  GEMM/src/host/gemm_benchmark.hpp
Due: build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2

Fix STREAM and RandomAccess template parameters
  RandomAccess/src/host/execution.h
  RandomAccess/src/host/execution_single.cpp
  RandomAccess/src/host/random_access_benchmark.hpp
  STREAM/src/host/execution.hpp
  STREAM/src/host/execution_default.cpp
  STREAM/src/host/stream_benchmark.hpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess

Update CI for new runner
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ID token
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Add missing string conversion for comm_type::unsupported
  shared/include/communication_types.hpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Add VNx UDP support
  .gitignore
  b_eff/configs/Xilinx_U280_HBM_VNX.cmake
  b_eff/settings/settings.link.xilinx.vnx.u280.hbm.ini
  b_eff/src/device/CMakeLists.txt
  b_eff/src/device/communication_UDP.cpp
  b_eff/src/host/execution_types/execution_udp.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
  cmake/accl.cmake
  cmake/general_benchmark_build_setup.cmake
  cmake/kernelTargets.cmake
  cmake/vnx.cmake
  extern/CMakeLists.txt
  shared/CMakeLists.txt
  shared/hpcc_settings.cpp
  shared/include/base_parameters.h.in
  shared/include/communication_types.hpp
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_udp.hpp
  shared/setup/fpga_setup_udp.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

add config for b_eff u280 PCIE benchmark using HBM
  b_eff/.gitignore
  b_eff/configs/Xilinx_U280_HBM.cmake
  b_eff/scripts/run_u280_pcie_hbm.sh
  b_eff/settings/settings.link.xilinx.u280.hbm.ini
Due: build:b_eff, test:b_eff
