Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

build:STREAM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
    - build/bin/stream_kernels_emulate.aocx
    - build/bin/STREAM_FPGA_intel
  ...

build:STREAM_HP:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDATA_TYPE=half -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=32 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
  ...

build:STREAM_DP:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDATA_TYPE=double -DVECTOR_COUNT=1 -DGLOBAL_MEM_UNROLL=8 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
  ...

build:RandomAccess:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../RandomAccess -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/random_access_kernels_single_emulate.aocx
    - build/bin/RandomAccess_intel
    - build/bin/RandomAccess_test_intel

build:PTRANS:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../PTRANS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DHOST_EMULATION_REORDER=Yes
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/transpose_DIAG_IEC_emulate.aocx
    - build/bin/transpose_PQ_IEC_emulate.aocx
  ...

build:LINPACK:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3 -DUSE_PCIE_MPI_COMMUNICATION=Yes
  - make -j 40 all
  artifacts:
    paths:
  ...

build:LINPACK_DP:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3 -DDATA_TYPE=double
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/hpl_torus_PCIE_emulate.aocx
  ...

build:GEMM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
    - build/bin/GEMM_test_intel

build:GEMM_HP_REP2:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
  ...

add support for udp with b_eff u280 benchmark
  b_eff/.gitignore
  b_eff/configs/Xilinx_U280_HBM_VNX.cmake
  b_eff/scripts/run_u280_udp.sh
  b_eff/settings/settings.link.xilinx.vnx.u280.hbm.ini
  b_eff/src/device/CMakeLists.txt
  b_eff/src/device/communication_UDP.cpp
  b_eff/src/host/execution_types/execution_udp.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
  cmake/general_benchmark_build_setup.cmake
  cmake/kernelTargets.cmake
  cmake/vnx.cmake
  extern/CMakeLists.txt
  shared/CMakeLists.txt
  shared/hpcc_settings.cpp
  shared/include/base_parameters.h.in
  shared/include/communication_types.hpp
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_udp.hpp
  shared/setup/fpga_setup_udp.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

add config for b_eff u280 PCIE benchmark using HBM
  b_eff/configs/Xilinx_U280_HBM.cmake
  b_eff/scripts/run_u280_pcie_hbm.sh
  b_eff/settings/settings.link.xilinx.u280.hbm.ini
Due: build:b_eff, test:b_eff

Update CI for new runner
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ID token
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Update python dependencies
  scripts/code_generator/requirements.txt
  scripts/evaluation/requirements.txt
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

use python venv in ci
  .gitlab-ci.yml
  docs/requirements.txt
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

fix FFT build and test
  .gitlab-ci.yml
  FFT/src/host/execution.h
  FFT/src/host/execution_default.cpp
  env.sh
  scripts/evaluation/parse_raw_to_csv.py
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

remove cxxopts build test
  extern/CMakeLists.txt
Due: none

shell runner for check stage
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

reuse artefacts
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

fix venv loading
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

fix python loading
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

update sphinx version
  docs/requirements.txt
Due: none

extra venv for docs
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

use relative path for CTest
  FFT/src/device/CMakeLists.txt
  FFT/src/device/custom/CMakeLists.txt
  GEMM/src/device/CMakeLists.txt
  GEMM/src/device/custom/CMakeLists.txt
  LINPACK/src/device/CMakeLists.txt
  LINPACK/src/device/custom/CMakeLists.txt
  PTRANS/src/device/CMakeLists.txt
  PTRANS/src/device/custom/CMakeLists.txt
  RandomAccess/src/device/CMakeLists.txt
  RandomAccess/src/device/custom/CMakeLists.txt
  STREAM/src/device/CMakeLists.txt
  STREAM/src/device/custom/CMakeLists.txt
  b_eff/src/device/CMakeLists.txt
  b_eff/src/device/custom/CMakeLists.txt
  cmake/general_benchmark_build_setup.cmake
  cmake/unitTestTargets.cmake
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

use relative executable
  FFT/src/device/custom/CMakeLists.txt
  FFT/src/host/CMakeLists.txt
  GEMM/src/device/custom/CMakeLists.txt
  GEMM/src/host/CMakeLists.txt
  LINPACK/src/device/CMakeLists.txt
  LINPACK/src/device/custom/CMakeLists.txt
  LINPACK/src/host/CMakeLists.txt
  PTRANS/src/device/CMakeLists.txt
  PTRANS/src/device/custom/CMakeLists.txt
  PTRANS/src/host/CMakeLists.txt
  RandomAccess/src/device/CMakeLists.txt
  RandomAccess/src/device/custom/CMakeLists.txt
  RandomAccess/src/host/CMakeLists.txt
  STREAM/src/device/CMakeLists.txt
  STREAM/src/device/custom/CMakeLists.txt
  STREAM/src/host/CMakeLists.txt
  b_eff/src/device/custom/CMakeLists.txt
  b_eff/src/host/CMakeLists.txt
  cmake/unitTestTargets.cmake
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

update script paths
  FFT/src/device/CMakeLists.txt
  GEMM/src/device/CMakeLists.txt
  LINPACK/src/device/CMakeLists.txt
  PTRANS/src/device/CMakeLists.txt
  RandomAccess/src/device/CMakeLists.txt
  STREAM/src/device/CMakeLists.txt
  b_eff/src/device/CMakeLists.txt
  cmake/general_benchmark_build_setup.cmake
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

call python directly in helper script
  scripts/evaluation/execute_and_parse.sh
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

dont activate venv
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

change regex match
  PTRANS/tests/test_host_functionality.cpp
Due: build:PTRANS, test:PTRANS

dont use reinterpret_cast for diagonal PTRANS
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

add pipeline status badge
  README.md
Due: none

fix b_eff output parsing
  scripts/evaluation/parse_raw_to_csv.py
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:LINPACK_DP, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:LINPACK_DP, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

no options needed for test stage
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Update README.md - use shields.io for CI badge
  README.md
Due: none

Test gitlab CI settings
  .gitlab-ci.yml
Due: build:STREAM, build:STREAM_HP, build:STREAM_DP, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:GEMM_DP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:STREAM_HP, test:STREAM_DP, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:GEMM_DP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:STREAM_HP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:STREAM_DP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK_DP: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_DP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM_HP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM_DP: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK_DP: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_DP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
